mat-icon {
    color: orangered;
    animation: pulse 2s infinite;
    margin-right: 10px;
}

@keyframes pulse {
    0% {opacity: 1; }
    50% {opacity: 1; opacity: 0.75; }
    100% {opacity: 0.75; opacity: 1;}
}
