@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body, #main{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 16pt;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

$main-colour: #F25D5F;
$background-colour: #e5e7e8;
$dark-background: #192224;
$highlight-colour: #18a89a;

$cursive-font: "Indie Flower", cursive;