.housagotchi-creature {

    display: flex;

    img {
        max-height: 300px;
        max-width: 300px;

        margin: 50px 0 50px 25%;
        display: flex;
        flex-grow: 1;
    }

    .urgent {
        color: #cc0000;
        font-weight: bold;
    }

}


@media all and (max-width: 1200px) {
    .housagotchi-creature {
        display: block;
    }
    .housagotchi-creature img {
        margin: 10px auto;
    }
}
