.scene {
    perspective: 2000px;
}

.polaroid {
    display: inline;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    transition: all 1s;
    z-index: 0;
    position: relative;
    background: #ffffff;
    float: left;
    margin: 40px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    height: 335px;

    img {
        display: block;
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 10px #666666;
    }

    .face {
        backface-visibility: hidden;
    }

    .back {
        transform: rotateY(180deg);
        position: absolute;
        top: 25px;
        right: 10px;
    }
}

.polaroid:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.polaroid.flipped {
    transform: scale(1.1) rotateY(180deg);
}
.rotate-left {
    transform: rotate(2deg);
}

.rotate-right {
    transform: rotate(-1deg);
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Indie Flower", cursive;
}
h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
}

.polaroid.old {
    background: rgb(255,232,188);
    background: radial-gradient(circle, rgba(255,232,188,0.8578781854538691) 0%, rgba(255,252,239,1) 80%, rgba(72,28,7,0.48252804539784666) 96%, rgba(0,0,0,0.8326681014202556) 100%);

    .tint {
        background-color:red; display:inline-block;
    }
    .tint img {
        //opacity: 0.8;
    }
}
