.photo-background {
    background: #e5e7e8 url('/assets/user/login/background.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.login {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -150px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.login mat-card {
    margin: 0 auto;
    padding: 30px 60px;
}

.login input {
    width: 100%;
}

