table {
    margin: 20px auto;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 10px;
}

mat-icon {
    cursor: pointer;
}
#add {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

