.card-image {
    display: block;
    background-size: cover;
    width: 80px;
    height: 80px;
    background-position: center center;
}

mat-dialog-content {
    display: flex;
    align-items: center;
}

.column {
    margin: 10px;
}

.fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

input[type=file] {
    display: none;
}
