<mat-form-field>
    <mat-label>Latest updates</mat-label>
    <textarea matInput
              rows="10"
              [(ngModel)]="contact.latestUpdates"></textarea>
</mat-form-field>

<mat-form-field>
    <mat-label>Last contact</mat-label>
    <input matInput
           [matDatepicker]="picker"
           [(ngModel)]="contact.lastContact">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi></mat-datepicker>
</mat-form-field>

<div>
    <button mat-flat-button
            color="danger"
            (click)="cancel()">Cancel
    </button>
    <button mat-flat-button
            color="primary"
            (click)="save()">Save
    </button>
</div>
