<div class="overview">
    <section class="tasks-section">
        <h1 *ngIf="mostImportantTasks?.length > 0">Most important todo's</h1>
        <div class="tasks-section-content">
            <app-todo-task-panel
                *ngFor="let task of mostImportantTasks"
                [task]="task"
                (onEdit)="edit($event)"
                (onComplete)="complete($event)">
            </app-todo-task-panel>
        </div>
        <div *ngIf="mostImportantTasks?.length == 0"
             class="nothing-to-do">
            <img src="assets/todo/imgs/nothing_to_do.png"/>
            <p>Relax! Nothing else to do.</p>
        </div>
    </section>

    <section class="tasks-section"
             (click)="makeLessImportantTasksVisible()"
             *ngIf="lessImportantTasks && lessImportantTasks.length > 0">
        <h1>Also... <span *ngIf="!lessImportantTasksVisible">(click to see the tasks)</span></h1>
        <div class="tasks-section-content" [class.disabled]="!lessImportantTasksVisible">
            <span *ngFor="let task of lessImportantTasks; let i = index">
                <app-todo-task-panel
                    *ngIf="i <= 5 || lessImportantTasksVisible"
                    [task]="task"
                    (onEdit)="edit($event)"
                    (onComplete)="complete($event)">
            </app-todo-task-panel>
            </span>
        </div>
    </section>

    <section class="tasks-section"
             (click)="makeFutureTasksVisible()"
             *ngIf="futureTasks && futureTasks.length > 0">
        <h1>Starting in the future... <span *ngIf="!futureTasksVisible">(click to see the tasks)</span></h1>
        <div class="tasks-section-content" [class.disabled]="!futureTasksVisible">
            <span *ngFor="let task of futureTasks; let i = index">
                <app-todo-task-panel
                    *ngIf="i <= 5 || futureTasksVisible"
                    [task]="task"
                    (onEdit)="edit($event)"
                    (onComplete)="complete($event)">
                </app-todo-task-panel>
            </span>
        </div>
    </section>
</div>
