<div class="overview">
    <section class="tasks-section">
        <h1>Most important todo's</h1>
        <div class="tasks-section-content">
            <app-task-panel
                *ngFor="let task of mostImportantTasks"
                [task]="task"
                (onEdit)="edit($event)"
                (onComplete)="complete($event)">
            </app-task-panel>
        </div>
    </section>

    <section class="tasks-section"
             (click)="makeLessImportantTasksVisible()"
             *ngIf="lessImportantTasks && lessImportantTasks.length > 0">
        <h1>Also... <span *ngIf="!lessImportantTasksVisible">(click to see the tasks)</span></h1>
        <div class="tasks-section-content" [class.disabled]="!lessImportantTasksVisible">
            <app-task-panel
                *ngFor="let task of lessImportantTasks"
                [task]="task"
                (onEdit)="edit($event)"
                (onComplete)="complete($event)">
            </app-task-panel>
        </div>
    </section>
</div>
