<mat-form-field class="labels">
    <mat-chip-list #chipList aria-label="Labels">
        <mat-chip
            *ngFor="let label of labels"
            [selectable]="true"
            [removable]="true"
            (removed)="remove(label)">
            {{label}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="Labels"
            #labelInput
            [formControl]="labelCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
            {{label}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
