input, mat-checkbox, .mat-input-element {
    display: inline-block;
}
.day, .month {
    width: 40px;
}

.year {
    width: 80px;
}
.mat-input-element {
    position: relative;
    bottom: 3px;
    margin-left: 10px;
}
.mat-icon.delete {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
