/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@import '~material-design-icons/iconfont/material-icons.css';
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~typeface-indie-flower/index.css";

/* rolling a custom Angular Material theme */
@import '~@angular/material/theming';
@include mat-core();

$portal-primary: mat-palette($mat-teal);
$portal-accent:  mat-palette($mat-pink, 500, 900, A100);
$portal-warn:    mat-palette($mat-deep-orange);

$portal-theme: mat-light-theme($portal-primary, $portal-accent, $portal-warn);
@include angular-material-theme($portal-theme);
