@import "../../app";

.mainComponent {

  min-width: 100%;
  min-height: 100%;
  background-color: $background-colour;

  display: flex;
  flex-direction: row;

  h1 {
    color: $background-colour;
    background-color: $highlight-colour;
    display: block;
    padding: 20px;
    max-width: 100%;
  }

  .menu {
    min-height: 100%;
    max-width: 25%;
    min-width: 200px;
    background-color: $dark-background;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: scroll;

    ul {
      width: 100%;
      display: block;

      li {
        width: 100%;
        display: block;
        list-style-type: none;

        a {
          color: $background-colour;
        }

        a:link {
          width: 100%;
          display: block;
          background: $dark-background;
          color: $background-colour;
          padding: 10px 20px;
        }

        a:hover, a:active, a:focus {
          background: $highlight-colour;
        }

        a.active {
          background: $main-colour;
        }
      }
    }
  }

  .content {
    flex-grow: 5;
  }
}