.contexts {
    margin-right: 20px;
    height: 100%;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

mat-icon {
    display: inline-block;
    cursor: pointer;
}

mat-select {
    font-size: 12pt;
    max-height: 30px;
    overflow: hidden;
}
