<mat-card>
    <div class="card-content">
        <div mat-card-avatar class="card-image"
             [style.backgroundImage]="'url(' + getImageUrl() +')'"></div>

        <div class="card-text">
            <mat-card-header>
                <mat-card-title>{{person.name}}</mat-card-title>
                <mat-card-subtitle>Last contact {{getLastContactInDaysAgo()}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="days-between-contacts">
                    <div class="days-between-contacts-container">
                        <span class="days-between-contacts-container-header">
                            Min.
                        </span>
                        <span class="days-between-contacts-container-content">
                            {{person.minNumberOfDaysBetweenContacts}} days
                        </span>
                    </div>
                    <div class="days-between-contacts-container">
                        <span class="days-between-contacts-container-header">
                            Max.
                        </span>
                        <span class="days-between-contacts-container-content">
                            {{person.maxNumberOfDaysBetweenContacts}} days
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </div>

</mat-card>
