mat-expansion-panel {
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    background-size: 10px 100%;
    background-repeat: no-repeat;
}

.focus {
    background-image: linear-gradient(to right, red, red);
}

.goals {
    background-image: linear-gradient(to right, greenyellow, greenyellow);
}

.fit-in {
    background-image: linear-gradient(to right, orange, orange);
}

.back-burner {
    background-image: linear-gradient(to right, darkgray, darkgray);
}
