.login {
    width: 300px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left: -150px;
}
.login mat-card {
    margin: 0 auto;
    padding: 30px 60px;
}

.login input {
    width: 100%;
}

